body{
    margin:0;
    padding:0;
}
.content{
    padding:15%;;
}
.photo{
    display: block;
    margin:0 auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
.tag{
    padding:0;
    text-align: center;
    font-size: 18px;
    list-style-type: none;
}
